.post {
    display: flex;
    padding: 10px;
}

.post img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.createdDate {
    color: #898686;
    font-weight: 300;
}

.nameBlock {
    margin-bottom: 10px;
}

.postContentBlock {
    flex-grow: 1;
}

.delete {
    display: inline-block;
    float: right;
    font-weight: 600;
    font-size: 20px;
    color: #aaa3a3;
}
.delete:hover {
    cursor: pointer;
}

.postText {
    word-break: break-all;
    margin-bottom: 10px;
}

.likes, .liked {
    color: #a0a0a0;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
}
.liked {
    color: #ee5454;
}
.likes:hover, .liked:hover {
    cursor: pointer;
}