.post {
    display: flex;
    padding: 10px;
}

.post img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.createdDate {
    color: #898686;
    font-weight: 300;
}

.nameBlock {
    margin-bottom: 10px;
}

.postContentBlock {
    flex-grow: 1;
}

.delete {
    display: inline-block;
    float: right;
    background-color: unset;
    font-weight: 600;
    font-size: 20px;
    color: #aaa3a3;
}

.postText {
    word-break: break-word;
    margin-bottom: 10px;
    padding-right: 25px;
}

.likes, .liked {
    background-color: unset;
    padding: 0;
    color: #a0a0a0;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
.liked {
    color: #ee5454;
}